<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <ul>
      <li><a href="/review_company_request" class="btn">New company request</a></li>
      <li><a href="/addexperience" class="btn">Add experience</a></li>
      <li><a href="/addquestion" class="btn">Add questions</a></li>
    </ul>    
  </div> 

</header>


<%- include('partials/footer'); -%>