<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeBox</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Spacetime</a></h1>
  </nav>

<body>
    <h1> Offer published</h1> 
   <br>
   <br>
    <div>
        <ul>
            <% console.log(details) %>
            <% console.log(details)%>
   <br>

            <li>Profile : <%= details.profile %></li>
   <br>

            <!-- <img src="<%- details.poster %>"> -->
   <br>

            <li>Job description : <%= details.job_description %></li>
   <br>
<header>
        <a href="/company_home" class="btn">Home page</a> 
</header>
        </ul>
    </div>
</body>


<%- include('partials/footer'); -%>