
<!-- add select tag for category -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeBox</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">CodeBox</a></h1>
  </nav>

  
<header>
  <div class="headings">
    <h3>Company</h3>
    <a href="/login_company" class="btn">Login</a>
    <a href="/signup_company" class="btn">Signup</a>
  </div>
</header>


<%- include('partials/footer'); -%>