<%- include('partials/header'); -%>
<link rel="stylesheet" href="/styles_home.css">

<header>
  <!-- <div class="smoothie">
    <img src="/electro.png" alt="">
  </div> -->
  <!-- <div class="headings">
    <h2>Codebox</h2>
    <a href="/admin" class="btn">Admin Panel</a>
  </div> -->
  <div class="container">
    <div class="card">
      <div class="imgBx">
        <!-- <img src="https://assets.codepen.io/4164355/shoes.png"> -->
      </div>
      <div class="contentBx">
        <h2>Company</h2>
        <!-- <div class="size">
          <h3>Size :</h3>
          <span>7</span>
          <span>8</span>
          <span>9</span>
          <span>10</span>
        </div> -->
        <!-- <div class="color">
          <h3>Color :</h3>
          <span></span>
          <span></span>
          <span></span>
        </div> -->
        <br>
        <a href="./company">Login/Signup</a>
      </div>
    </div>
  </div>
 

  <div class="container">
    <div class="card">
      <div class="imgBx">
        <!-- <img src="https://assets.codepen.io/4164355/shoes.png"> -->
      </div>
      <div class="contentBx">
        <h2>Developer</h2>
        <!-- <div class="size">
          <h3>Size :</h3>
          <span>7</span>
          <span>8</span>
          <span>9</span>
          <span>10</span>
        </div> -->
        <!-- <div class="color">
          <h3>Color :</h3>
          <span></span>
          <span></span>
          <span></span>
        </div> -->
        <br>
        <a href="./signup">Login/Signup</a>
      </div>
    </div>
  </div>
</header>


<%- include('partials/footer'); -%>