<%- include('partials/header_company'); -%>
  
<form>
  <!-- <form class= 'signup_company-form'> -->
    <h2>Company</h2>
    <label for="perks">Perks</label>
    <input type="text" name="perks" />
    <button type="submit">Submit</button>
  </form> 
  
  <%- include('partials/footer'); -%>
  
  <script>

    const form = document.querySelector('form');
  
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
  
      // get values
      var perks = form.perks.value;
      console.log(perks);
      try {
        const res = await fetch('/add_perks', { 
          method: "POST", 
          body: JSON.stringify({perks}),
          headers: {'Content-Type': 'application/json'}
        });  
        const data = await res.json(); 
        console.log(data);
        if (data.errors) {
        }
        if (data.success) {
          console.log("perks updated");
          location.reload();
        }
      }
      catch (err) { 
        console.log(err);
      }
    });
  
  </script>