<%- include('partials/header'); -%>

<form action="/transfer">
  <label for="abi_path">abi</label>
  <input type="text" name="abi_path" required />
  <div class="abi_path error"></div>
  <label for="contract_address">contract_address</label>
  <input type="text" name="contract_address" required />
  <div class="contract_address error"></div>
  <label for="public_key">public_key</label>
  <input type="text" name="public_key" required />
  <div class="public_key error"></div>
  <button>send</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const abi_pathError = document.querySelector('.abi_path.error');
  const contract_addressError = document.querySelector('.contract_address.error');
  const public_keyError = document.querySelector('.public_key.error');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    // reset errors
    abi_pathError.textContent = '';
    contract_addressError.textContent = ''
    public_keyError.textContent = '';
    // get values
    const abi_path = form.abi_path.value;
    const contract_address = form.contract_address.value;
    const public_key = form.public_key.value;
    console.log(abi_path);
    console.log(contract_address);
    console.log(public_key);
    try {
      const res = await fetch('/tranfernft', { 
        method: 'POST', 
        body: JSON.stringify({ abi_path, contract_address, public_key}),
        headers: {'Content-Type': 'application/json'}
      }); 
      const data = await res.json(); 
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.hi) {
        // uncomment this for 2FA
        // console.log(data.user._id);
        // location.assign(`/verifyOTP_login/${data.user._id}`);

        console.log(data.hi);
        location.assign('/');
      }
    }
    catch (err) { 
      console.log(err);
    }
  });
</script>

